<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/img/mountain1.jpg');
            background-size: cover;
            background-attachment: fixed;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #content {
            padding: 30px;
            margin: 100px auto;
            min-width: 800px;
            max-width: 800px;
            background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to make text readable */
            text-align: center;
        }
    </style>
</head>

<body>
  <element id="content">
  <h1>Popular Reviews</h1><br><br>
<div>

<div id="carousel" class="carousel slide" data-bs-theme="dark" data-bs-ride="carousel" >
    <div class="carousel-inner">  
          <div class="carousel-item active" data-bs-interval="1">
    </div>
{{#each data}}


    <div class="carousel-item" data-bs-interval="5000">
        <h3>{{this.mountain_name}}</h3>
        <h5>{{this.rating}}/10</h5>
        <p>{{this.description}}</p>
    </div>

{{/each}}
</div>
</div>
</div>

</div>
{{!-- Div for results --}}
<div>
    <br><br><br>
<h2>Search for other mountain reviews!</h2>
<form method="post" action="/reviews">
  <div class="form-group">
    <label for="mountain-search">Type the mountain you want to find reviews for here!</label><br><br>
    <input class="form-control" id="mountainSearch" placeholder="Search for reviews by mountain here!" name="mountain"><br>
  
  <button type="submit" class="btn btn-primary">Search</button><br><br>
  </div>
  </form>

<div class="card-group">
    
{{#each searchResult}}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{this.rating}}/10</h4>
      <h5 class="card-title">{{this.mountain_name}}</h5>
      <p class="card-text">{{this.description}}</p>
      
    </div>
{{/each}}
</div>

</div>
</element>
</body>

